body { 
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}

.pulsante {
    background-color: darkred;
    position: relative;
    height: 100px;
    width: 100px;
    transform: rotate(-45deg) scale(1);
}
.pulsante::after{
    background-color: darkred;
    content:'';
    position: absolute;
    top: -50%;
    left: 0;
    height: 100px;
    width: 100px;
    border-radius: 50%;
}
.pulsante::before{
    background-color: darkred;
    content:'';
    position: absolute;
    top: -50%;
    left: 0;
    height: 100px;
    width: 100px;
    border-radius: 50%;
}