body { 
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}

.pulsante {
    background-color: rgb(166, 11, 11);
    position: relative;
    height: 100px;
    width: 100px;
    transform: rotate(-45deg) scale(1);
}